@model Northwind.Contracts.Dto.Product.ProductPhotoGroupDto
@{
    ViewData["Title"] = "Create";
}

@using (Html.BeginForm("CreateProductPhoto","ProductsPagedServer",
          FormMethod.Post,
          new { @enctype = "multypart/form-data" }))
{
           @Html.AntiForgeryToken();
           <h4 class="mb-3">Create Product Photos</h4>
           <hr/>
           @Html.ValidationSummary(true,"",new{@class="text-danger"})
           <div class="row g-3">
               <div class="col-md-10">
                   @Html.LabelFor(model=>model.ProductForCreatDto.ProductName,htmlAttributes:new{@class="form-label"})
                   @Html.TextBox("ProductForCreatDto.ProductName",string.Empty,
                                   new{@placeholder="Product Name",@class="form-control"})
               </div>
               <div class="col-md-10">
                   @Html.LabelFor(model=>model.ProductForCreatDto.CategoryId,htmlAttributes:new{@class="form-label"})
                   @Html.DropDownList("ProductForCreatDto.CategoryId",ViewBag.CategoryId,String.Empty,
                                   new{@class="form-control"})
               </div>
               <div class="col-md-10">
                   @Html.LabelFor(model=>model.ProductForCreatDto.SupplierId,htmlAttributes:new{@class="form-label"}))
                   @Html.DropDownList("ProductForCreatDto.SupplierId",ViewBag.SupplierId,String.Empty,
                                   new{@class="form-control"})
               </div>
                <div class="col-md-10">
                    @Html.LabelFor(model=>model.ProductForCreatDto.QuantityPerUnit,htmlAttributes:new{@class="form-label"})
                   @Html.TextBox("ProductForCreatDto.QuantityPerUnit",string.Empty,
                                   new{@placeholder="Quantity PerUnit",@class="form-control"})
               </div>
                <div class="col-md-10">
                    @Html.LabelFor(model=>model.ProductForCreatDto.UnitPrice,htmlAttributes:new{@class="form-label"})
                   @Html.TextBox("ProductForCreatDto.UnitPrice",string.Empty,
                                   new{@placeholder="UnitPrice",@class="form-control"})
               </div>
               <div class="col-md-10">
                   @Html.LabelFor(model=>model.ProductForCreatDto.Discontinued,htmlAttributes:new{@class="form-label"})
                   @Html.CheckBox("ProductForCreatDto.Discontinued",false,
                                   new{@placeholder="Discontinued",@class="form-check-input"})
               </div>
             </div>
             <div class="col-9">
                 <div class="row text-center text-lg-start">
                      <div class="col-lg-4 col-md-col-6">
                          <img id="preview1" style="width:100px;height:100px;"/>
                           @Html.LabelFor(model=>model.Photo1,htmlAttributes:new{@class="form-label"})
                           @Html.TextBoxFor(Model=>Model.Photo1,"",
                           new{@type="file",@accept="image/",@onchange="previewImage(this,'preview1')"})
                     </div>
                     <div class="col-lg-4 col-md-col-6">
                         <img id="preview2" style="width:100px;height:100px;"/>
                           @Html.LabelFor(model=>model.Photo2,htmlAttributes:new{@class="form-label"})
                           @Html.TextBoxFor(Model=>Model.Photo2,"",
                           new{@type="file",@accept="image/",@onchange="previewImage(this,'preview2')"})
                     </div>
                     <div class="col-lg-4 col-md-col-6">
                         <img id="preview3" style="width:100px;height:100px;"/>
                           @Html.LabelFor(model=>model.Photo3,htmlAttributes:new{@class="form-label"})
                           @Html.TextBoxFor(Model=>Model.Photo3,"",
                           new{@type="file",@accept="image/",@onchange="previewImage(this,'preview3')"})
                     </div>
                 </div>
             </div>
           <button type="submit" class="btn-primary">Create</button>
}

<script>
    function previewImage(el,Value){
        //stoere image to variabel files
        const files =el.files[0];
        //create object fieReader
        const fileReader = new FileReader();
        //read files from element input type
        fileReader.readAsDataURL(files)
        //send result base64 image to element html image preview
        fileReader.onload= function(event){
            document.getElementById(Value).src=event.target.result;
        }
    }
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
