@model Northwind.Domain.Models.ProductPhoto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ProductPhoto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhotoFilename)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhotoFilename)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhotoFileSize)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhotoFileSize)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhotoFileType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhotoFileType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhotoPrimary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhotoPrimary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhotoProduct)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhotoProduct.ProductName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PhotoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
