@model Northwind.Contracts.Dto.Product.ProductPhotoGroupDto
@{
    ViewData["Title"] = "Create";
}

@using (Html.BeginForm("CreateProductPhoto","ProductsPagedServer",
          FormMethod.Post,
          new { @enctype = "multipart/form-data" }))
{
           @Html.AntiForgeryToken();
           <h4 class="mb-3">Create Product Photos</h4>
           <hr/>
           @Html.ValidationSummary(true,"",new{@class="text-danger"})
           <div class="row g-3">
               <div class="col-md-10">
                   @Html.LabelFor(model=>model.ProductForCreateDto.ProductName,htmlAttributes:new{@class="form-label"})
                   @Html.TextBox("ProductForCreateDto.ProductName",string.Empty,
                                   new{@placeholder="Product Name",@class="form-control"})
                                   @Html.ValidationMessage("ProductForCreateDto.ProductName",new {@class="text-danger"})
                                   
               </div>
               <div class="col-md-5">
                   @Html.LabelFor(model=>model.ProductForCreateDto.CategoryId,htmlAttributes:new{@class="form-label"})
                   @Html.DropDownList("ProductForCreateDto.CategoryId",ViewBag.CategoryId,String.Empty,
                                   new{@class="form-control"})
                                   @Html.ValidationMessage("ProductForCreateDto.CategoryId",new {@class="text-danger"})
               </div>
               <div class="col-md-5">
                   @Html.LabelFor(model=>model.ProductForCreateDto.SupplierId,htmlAttributes:new{@class="form-label"}))
                   @Html.DropDownList("ProductForCreateDto.SupplierId",ViewBag.SupplierId,String.Empty,
                                   new{@class="form-control"})
                                   @Html.ValidationMessage("ProductForCreateDto.SupplierId",new {@class="text-danger"})
               </div>
                <div class="col-md-5">
                    @Html.LabelFor(model=>model.ProductForCreateDto.QuantityPerUnit,htmlAttributes:new{@class="form-label"})
                   @Html.TextBox("ProductForCreateDto.QuantityPerUnit",string.Empty,
                                   new{@placeholder="Quantity PerUnit",@class="form-control"})
                                    @Html.ValidationMessage("ProductForCreateDto.QuantityPerUnit",new {@class="text-danger"})
               </div>
                <div class="col-md-5">
                    @Html.LabelFor(model=>model.ProductForCreateDto.UnitPrice,htmlAttributes:new{@class="form-label"})
                   @Html.TextBox("ProductForCreateDto.UnitPrice",string.Empty,
                                   new{@placeholder="UnitPrice",@class="form-control"})
                                   @Html.ValidationMessage("ProductForCreateDto.UnitPrice",new {@class="text-danger"})
               </div>
               <div class="col-md-5">
                   @Html.LabelFor(model=>model.ProductForCreateDto.Discontinued,htmlAttributes:new{@class="form-label"})
                   @Html.CheckBox("ProductForCreateDto.Discontinued",false,
                                   new{@placeholder="Discontinued",@class="form-check-input"})
                                   @Html.ValidationMessage("ProductForCreateDto.Discontinued",new {@class="text-danger"})

               </div>
             </div>
             <div class="col-9">
                 <div class="row text-center text-lg-start">
                      <div class="col-lg-4 col-md-col-6">
                          <img id="preview1" src="../Resources/images/NoPoto.jpeg" style="width:100px;height:100px;"/>
                           @Html.LabelFor(model=>model.AllPhoto,htmlAttributes:new{@class="form-label"})
                           @Html.TextBoxFor(model=>model.AllPhoto,"",
                           new{@type="file",@accept="image/*",@onchange="previewImage(this,'preview1')"})
                           <button type="button" onclick="clearPhoto('AllPhoto','preview1')"style="width:100px">Clear</button>
                           @Html.ValidationMessage("AllPhoto",new {@class="text-danger"})
                     </div>
                     <div class="col-lg-4 col-md-col-6">
                         <img id="preview2" src="../Resources/images/NoPoto.jpeg" style="width:100px;height:100px;"/>
                           @Html.LabelFor(model=>model.AllPhoto,htmlAttributes:new{@class="form-label"})
                           @Html.TextBoxFor(model=>model.AllPhoto,"",
                           new{@type="file",@accept="image/*",@onchange="previewImage(this,'preview2')"})
                           <button type="button" onclick="clearPhoto('AllPhoto','preview2')" style="width:100px">Clear</button>
                           @Html.ValidationMessage("AllPhoto",new {@class="text-danger"})
                     </div>
                     <div class="col-lg-4 col-md-col-6">
                         <img id="preview3"src="../Resources/images/NoPoto.jpeg" style="width:100px;height:100px;"/>
                           @Html.LabelFor(model=>model.AllPhoto,htmlAttributes:new{@class="form-label"})
                           @Html.TextBoxFor(model=>model.AllPhoto,"",
                           new{@type="file",@accept="image/*",@onchange="previewImage(this,'preview3')"})
                           <button type="button" onclick="clearPhoto('AllPhoto','preview3')" style="width:100px">Clear</button>
                           @Html.ValidationMessage("AllPhoto",new {@class="text-danger"})
                     </div>
                 </div>
             </div>
           <button type="submit" class="btn-primary">Create</button>
}

<script>
    function clearPhoto(photo,preview){
        //ini fungsi yang ketika diklik maka, form buat photo akan kosong lagi
        document.getElementById(photo).Value='';
        //element html img src value set to empty
        document.getElementById(preview).src="";
    }

    function previewImage(el,Value){
        //stoere image to variabel files
        const files =el.files[0];
        //create object fieReader
        const fileReader = new FileReader();
        //read files from element input type
        fileReader.readAsDataURL(files)
        //send result base64 image to element html image preview
        fileReader.onload= function(event){
            document.getElementById(Value).src=event.target.result;
        }
    }
</script>

